*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}
.cf::after{
    display: block;
    content: "";
    clear:both;
}
input{  
	background:none;  
	outline:none;  
	border:none;
}
input:focus{   
	border:none;
}

.bd{
    width: 970px;
    margin: 0 auto;
    /* background-color: rgb(255,244,232); */
}
.head{
    height: 35px;
    background-color: rgb(243,243,243);
    font-weight: 300;
}
.head>div{
    font-size: 12px;
    line-height: 35px;
    float: left;
}
.head .head-1 input{
    vertical-align: bottom;
    margin-bottom: 11px;
}
.head .head-1{
    padding-right: 90px;
    margin-left: 20px;
}
.head .head-2{
    padding-right: 365px;
}
.head .head-3{
    padding-right: 60px;
}
.head .head-4{
    padding-right: 80px;
}
.head .head-5{
    padding-left: 40px;
}
.head .head-6{
    padding-left: 78px;
}
.cont-1{
    height: 120px;
    box-sizing: border-box;
    padding: 20px 0;
}
.jdicon{
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("img/cart-icons-201902.png") no-repeat 0 -23px;
}

.xuanfuwu a{
    color: rgb(189,170,170);
}
.xuanfuwu{
    margin-top: 5px;
    width: 200px;
}
.cont{
    border-top: 2px solid #666;
}
.cont-1{
    border-bottom: 1px solid #666;
}
.cont-1>div{
  float: left;
}
.cont-1 input{
    margin-left: 20px;
    margin-right:13px ;
}
.cont-1-1{
    display: block;
}
.cont-1-1-img{
    margin-right: 23px;
    float: left;
}
.contspan{
    width: 180px;
    height: 34px;
    overflow: hidden;
    font-size: 12px;
}
.contspan span{
   
    overflow: hidden;
}
.cont-1-2{
    margin-left: 20px;
    font-size: 12px;
    font-weight: 300;
    width: 150px;
    height: 15px;
    overflow: hidden;
    /* 溢出变... */
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cont-1-3{
    font-size: 12px;
    margin-left: 15px;
}
.cont-1-4{
    margin-left: 20px;
    width: 80px;
}
.cont-1-4>div{
    float: left;
}
.cont-1-4-l{
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    cursor: pointer;
}
.cont-1-4-z{
    position: relative;
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 45px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
}
.cont-1-4-z span{
    font-size: 12px;
    line-height: 18px;
}
.cont-1-4-z input{
    overflow: hidden;
    width: 20px;
    height: 18px;
    position: absolute;
    left: -6px;
    top: 0;
    font-size: 12px;

}
.cont-1-4-r{
    border: 1px solid #cacbcb;
   
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 15px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    cursor: pointer;
}
.youhuo{
    margin-left: 30px;
    color: rgb(189,170,170);
    font-size: 12px;
    font-weight: 300;
}
.cont-1-5{
    font-size: 13px;
    font-weight: 700;
    margin-left: 60px;
}
.cont-1-6{
    font-size: 12px;
    color: rgb(102,102,102);
    margin-left: 60px;
}
.cont-1-6 p{
    margin-top: 3px;
}
.contspan:hover span{
    color: rgb(226,35,26);
}
.cont-1-6 p:hover {
    color: rgb(226,35,26);
}
.cont-1-6 span:hover {
    color: rgb(226,35,26);
}
.fot{
    font-size: 12px;
    height: 50px;
    border-bottom: 1px solid rgb(238,238,238);
   
}
.fot-l{
    float: left;
    line-height: 50px;
    margin-left: 20px;
}
.fot input{
    vertical-align: bottom;
    margin-bottom: 18px;
}
.fot-l span:hover{
    color: rgb(226,35,26);
}
.fot-r{
    position: relative;
    float:right;
    width: 650px;
}
.fot-r>div{
    float:right;
}
.fot-r-1{
    position: relative;
    width: 100px;
    margin-right: 30px;
    line-height: 30px;
    cursor: pointer;
}
.icc{
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("img/cart-icons-201902.png")no-repeat  -45px -91px;
    overflow: hidden;
    vertical-align: middle;
    transition: all .5s;
}
.icc1{
    display: inline-block;
    width: 17px;
    height: 19px;
    background: url("img/price-tips.png")no-repeat  0 0;
    overflow: hidden;
    vertical-align: text-bottom;
}
.fot-r-2 i{
    font-style: normal;
    color: rgb(226,35,26);
    font-weight: 600;
    line-height: 30px;
}
.fot-r-3{
    width: 100px;
    height: 50px;
    background-color: rgb(226,35,26);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}
.fot-r-1-dw{
    position: absolute;
    bottom: 50px;
    left: -320px;
    width: 970px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fot-r-1-dw img{
    margin-top: 10px;
    margin-right: 5px;
}
.dw-1{
    position: absolute;
    background: url("img/cart-icons-201902.png") no-repeat 0 -113px;
    display: block;
    width: 15px;
    height: 23px;
    top: 50%;
    margin-left: 10px;
}
.dw-1:hover{
    background-position: -30px -113px;
    cursor: pointer;
}
.dw-2:hover{
    background-position: -45px -113px;
    cursor: pointer;
}
.dw-2{
    position: absolute;
    background: url("img/cart-icons-201902.png") no-repeat -15px -113px;
    display: block;
    width: 15px;
    height: 23px;
    top: 50%;
    right: 0;
    margin-right: 10px;
    
}
.fot-img {
    margin-left: 40px;
}
.fot-r-1-dw p{
    margin-left: 10px;
    color: #fff;

}
.fot-r-1 b{
    color: rgb(226,35,26);
    margin: 0 3px;
}
.fot-r-1-dw b{
    color: rgb(226,35,26);
    margin: 0 3px;
}
.fot-sanjiao{
    position: absolute;
    bottom: -4px;
    right: 302px;
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid rgba(102,102,102,.7);
}
.last {
    margin-top: 10px;
    text-align: center;
}
.last span{
    font-size: 1em;
    font-weight: 800;
    color: #666;
}
.last p{
    margin-top: 10px;
    color: #999;
    font-size: 12px;
}
.last-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    background: url("img/cart-icons-201902.png") -62px -198px no-repeat;
}